* {
  margin: 0;
  padding: 0;
}

/* HEADER > NAV --- START  */
.header {
  background-color: #d43232;
  color: black;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 46px;
}

.header .title-container {
  align-items: center;
  display: flex;
}
.header .title {
  display: flex;
  margin: 0;
  padding: 0rem 0.4rem;
}
.nav1 {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.nav_menu {
  background-color: transparent;
  border: 0;
  margin-left: 1em;
  margin-right: 1em;
}
.nav_menu img {
  height: 2em;
  width: 2em;
}
.dropdown_nav {
  height: 2em;
  margin-bottom: 5%;
  color: white;
  border: 0;
  background-color: transparent;
}

.dropdown {
  justify-self: right;
}
.button-a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  height: 2em;
  margin: 0;
  margin-top: 3px;
}
.button-a:hover {
  color: white;
}
.dropdown-menu {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.dropdown-i {
  text-decoration: none;
  width: 75%;
  color: white;
}
.dropdown-i:hover {
  color: white;
}
.item {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}
.modal-backdrop {
  z-index: 2;
}
.register-button {
  border-radius: 1em;
  width: 20%;
  background-color: transparent;
}
.open-nav {
  display: inline;
  height: 1.5rem;
  padding-right: 0.5rem;
}

.open-nav img {
  height: 100%;
}

.header .nav {
  display: none;
}

.header .nav.active {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  position: absolute;
  background-color: grey;
  flex-direction: column;
}

li {
  color: #fff;
  background-color: grey;
  padding: 0.3rem;
  text-align: right;
  width: 7%;
}

.nav-link {
  background-color: grey;
  color: #fff;
  padding: 0.3rem;
  text-align: right;
  width: 90px;
}

.search-box input {
  width: 200px;
  height: 16px;
  border-radius: 6px;
  background-color: darkgray;
}

/* HEADER > NAV --- END  */

/* FORM > LOGIN --- START  */
.form {
  /* height: 300px; */
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .form div {
  border: black solid 2px;
  border-radius: 10px;
} */

.sub-title {
  padding: 0rem 0rem 2rem;
  text-align: center;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

#login div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 0;
}

#login button {
  height: 40px;
  width: 100px;
  background-color: navajowhite;
  border-radius: 10px;
}

.form-input {
  width: 300px;
  height: 20px;
}

/* FORM > LOGIN --- END  */

/* INICIO --- START  */
body {
  background: rgb(245, 89, 89);
}

/* INICIO --- END  */

/* CATALOGO --- START */

.div-catalogo {
  height: 30%;
  border: 1px solid #333;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 16px;
  margin-top: 2em;
  align: center;
}
.name {
  font-size: 1.2em;
}
.img-catalogo {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CATALOGO END */
